

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], input[type=datetime-local],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:turquoise;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:teal
  }
  
  div {
    border-radius: 5px;
    /* background-color: lightseagreen; */
    background-image: url("../../../../assets/photo-1504196606672-aef5c9cefc92.webp");
        padding: 20px;
      
  }
  .f{
    width: 80%;
    margin-left: 10%;
  
  }
  h1 , h2 ,h3{
 

    color: black;
    font-size: xxx-large;
    font-family: 'Nothing You Could Do', cursive;
    
    }
   
    